* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

header {
  padding: 16px 32px;
  background-color: #24292e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffffb3;
  font-size: 14px;
}

header .octicon {
  fill: white !important;
}

header .first {
  width: 797px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .second div {
  margin-right: 16px;
}

header .second .notification {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

header .second .notification .unread {
  position: absolute;
  top: -6px;
  left: 6px;
  z-index: 2;
  width: 14px;
  height: 14px;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#54a3ff), to(#006eed));
  background-image: linear-gradient(#54a3ff, #006eed);
  background-clip: padding-box;
  border: 2px solid #444d56;
  border-radius: 50%;
}

header .second .dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: '';
  border-top-style: solid;
  border-top-width: 4px;
  border-right: 4px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 4px solid transparent;
  margin-left: 4px;
}

header .second .profile-image,
header .second .summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .second .profile-image .avatar-user,
header .second .summary .avatar-user {
  border-radius: 50% !important;
}

header .search-wrapper {
  width: 272px;
  height: 30px;
  margin: 0 12px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search-wrapper form {
  width: 100% !important;
}

header .search-wrapper form .label {
  border: 1px solid #444d56;
  min-height: 28px;
  width: 100% !important;
  padding: 5px 12px;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border-radius: 6px;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

header .search-wrapper form .label input {
  display: table-cell;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: inherit;
  color: inherit;
  background: none;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white !important;
  outline: none;
}

header nav a {
  font-weight: 600;
  color: white;
  white-space: nowrap;
  line-height: 1.5;
  text-decoration: none;
  margin-right: 16px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

header nav a:hover {
  color: #ffffffb3;
}
